<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>VPT Ban/Pick LOL</title>
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <h1 class='text-center'>VPT BAN/PICK LOL</h1>
        
        <div id="app">
            <button 
                @click="restartVmix()"
                style="color: green; font-size: 20px; background-color: orange; position: absolute; top: 0px;" >
                Restart VMix
            </button>
            <div class="container">

                
                <div class="row" v-if="players">
                    <div style="font-size: 36px">Timecount: {{count}}</div> <br/>
                    <div class="col-6" >
                        <div>Blue Team</div>
                        <div v-for="item in 5" v-if="players['player_' + (item - 1)]" style="width: 343px; height: 211px; position: relative; margin-top: 10px;">
                            <span style="position: absolute; top: 0px; color: Blue; font-size: 24px;">{{players['player_' + (item - 1)].data.summonerName}}</span>
                            <span  style="position: absolute; top: 10px; right: 0px; color: red; font-size: 18px;" v-if="action_active && action_active.type == 'pick' && action_active.actorCellId == item - 1">Picking</span>
                            <span  style="position: absolute; top: 10px; right: 0px; color: red; font-size: 18px;" v-else-if="action_active && action_active.type == 'ban' && action_active.actorCellId == item - 1">Banning</span>
                            <span  style="position: absolute; top: 10px; right: 0px; color: red; font-size: 18px;" v-else-if="players['player_' + (item - 1)].champ">Picked</span>
                            <img v-if="players['player_' + (item - 1)].spells" style="width: 32px; height: 32px; position: absolute; bottom: 0px; right: 36px" :src="`/spells/${players['player_' + (item - 1)].spells[0]}`">
                            <img v-if="players['player_' + (item - 1)].spells" style="width: 32px; height: 32px; position: absolute; bottom: 0px; right: 0px" :src="`/spells/${players['player_' + (item - 1)].spells[1]}`">
                            <img v-if="players['player_' + (item - 1)].champ" :src="`/champions/${players['player_' + (item - 1)].champ.name}.jpg`" >
                            <img v-if="action_active && action_active.type == 'pick' && action_active.actorCellId == item - 1" :src="`/champions/${action_active.champ && action_active.champ.name || 'empty'}.jpg`" >
                        </div>
                    </div>
                    <div class="col-6 float-right">
                        <div>Red Team</div>
                        <div v-for="item in 5" v-if="players['player_' + (item + 4)]" style="width: 343px; height: 211px; position: relative; margin-top: 10px;">
                            <span style="position: absolute; top: 0px; color: Blue; font-size: 24px;">{{players['player_' + (item + 4)].data.summonerName}}</span>
                            <span  style="position: absolute; top: 10px; right: 0px; color: red; font-size: 18px;" v-if="action_active && action_active.type == 'pick' && action_active.actorCellId == item + 4">Picking</span>
                            <span  style="position: absolute; top: 10px; right: 0px; color: red; font-size: 18px;" v-else-if="action_active && action_active.type == 'ban' && action_active.actorCellId == item + 4">Banning</span>
                            <span  style="position: absolute; top: 10px; right: 0px; color: red; font-size: 18px;" v-else-if="players['player_' + (item + 4)].champ">Picked</span>
                            <img v-if="players['player_' + (item + 4)].spells" style="width: 32px; height: 32px; position: absolute; bottom: 0px; right: 36px" :src="`/spells/${players['player_' + (item + 4)].spells[0]}`">
                            <img v-if="players['player_' + (item + 4)].spells" style="width: 32px; height: 32px; position: absolute; bottom: 0px; right: 0px" :src="`/spells/${players['player_' + (item + 4)].spells[1]}`">
                            <img v-if="players['player_' + (item + 4)].champ" :src="`/champions/${players['player_' + (item + 4)].champ.name}.jpg`" >
                            <img v-if="action_active && action_active.type == 'pick' && action_active.actorCellId == item + 4" :src="`/champions/${action_active.champ && action_active.champ.name || 'empty'}.jpg`" >
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 36px;" v-if="players && bans">
                    <div>Ban</div>
                    <div class="col-6">
                        <slot v-for="item in [0, 1, 2, 3, 4, 5]" v-if="item % 2 == 0">
                            <img class="m-2" v-if="bans['baned_' + item]" style="width: 32px; height: 32px" :src="`/champions_square/${bans['baned_' + item].champ && bans['baned_' + item].champ.name}.png`">
                            <img class="m-2" v-if="action_active && action_active.type == 'ban' && action_active.index == item " style="width: 32px; height: 32px" :src="`/champions_square/${action_active.champ && action_active.champ.name || 'empty'}.png`">
                        </slot>

                        <slot v-for="item in [6, 7, 8, 9]" v-if="item % 2 == 1">
                            <img class="m-2" v-if="bans['baned_' + item]" style="width: 32px; height: 32px" :src="`/champions_square/${bans['baned_' + item].champ && bans['baned_' + item].champ.name}.png`">
                            <img class="m-2" v-if="action_active && action_active.type == 'ban' && action_active.index == item " style="width: 32px; height: 32px" :src="`/champions_square/${action_active.champ && action_active.champ.name || 'empty'}.png`">
                        </slot>

                    </div>
        
                    <div class="col-6">
                        <slot v-for="item in [0, 1, 2, 3, 4, 5]" v-if="item % 2 == 1">
                            <img class="m-2" v-if="bans['baned_' + item]" style="width: 32px; height: 32px" :src="`/champions_square/${bans['baned_' + item].champ && bans['baned_' + item].champ.name}.png`">
                            <img class="m-2" v-if="action_active && action_active.type == 'ban' && action_active.index == item " style="width: 32px; height: 32px" :src="`/champions_square/${action_active.champ && action_active.champ.name || 'empty'}.png`">
                        </slot>
                        <slot v-for="item in [6, 7, 8, 9]" v-if="item % 2 == 0">
                            <img class="m-2" v-if="bans['baned_' + item]" style="width: 32px; height: 32px" :src="`/champions_square/${bans['baned_' + item].champ && bans['baned_' + item].champ.name}.png`">
                            <img class="m-2" v-if="action_active && action_active.type == 'ban' && action_active.index == item " style="width: 32px; height: 32px" :src="`/champions_square/${action_active.champ && action_active.champ.name || 'empty'}.png`">
                        </slot>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                new Vue({
                    el: '#app',
                    // define data - initial display text
                    data: {
                        players: null,
                        bans: {},
                        config: {},
                        action_active: {},
                        time_count: {},
                        count: 0
                    },

                    created() {
                        this.getEvts();
                    },

                    methods: {
                        restartVmix() {
                            axios.get("/init_vmix").then(function(res) {});
                        },
                        getEvts() {
                            let vm = this;
                            setInterval(() => {
                                axios.get("/evts").then(function(res) {
                                    vm.players = res.data.data.players;
                                    vm.bans = res.data.data.ban;
                                    vm.action_active = res.data.data.action_active;
                                    vm.timecount = {count: vm.action_active.time_left, ts: vm.action_active.timestamp};
                                });

                                if (vm.timecount.count) {
                                    let count = vm.timecount.count - (Date.now() - vm.timecount.ts);
                                    if (count < 0) vm.count = 0 ;
                                    else vm.count = parseInt(count/1000);
                                }
                            }, 1000);
                            
                        }
                    }
                })
            });
        </script>
       
    </body>
    
</html>